{% extends "base.html" %}

{% block content %}
  <h1>{{ object.first_name }} {{ object.last_name }} ({{ object.years_of_experience }} year{{ object.years_of_experience|pluralize }} of experience)</h1>
  <hr>
  {% if object.email %}
    <p><strong>E-mail: </strong> {{ object.email }}</p>
  {% else %}
    <p>There are no information about the cook's e-mail.</p>
  {% endif %}
  <a class="btn btn-secondary" href="{% url 'kitchen:cook-update' object.id %}">Update information</a>
  <br>
  <br>
  <a class="btn btn-danger" href="{% url 'kitchen:cook-delete' object.id %}">Delete cook</a>
{% endblock %}
