{% extends "base.html" %}

{% block content %}
  <h1>Ingredients<a style="float: right;" class="btn btn-primary" href="{% url 'kitchen:ingredient-create' %}"><b>+</b></a></h1>
  {% if ingredient_list %}
    <table class="table">
      <tr>
        <th>Ingredient name</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
      {% for ingredient in ingredient_list %}
        <tr>
          <td>
            <a href="{% url 'kitchen:dish-list' %}?ingredient={{ ingredient.id }}">
              {{ ingredient.name }}
            </a>
          </td>
          <td>
            <a href="{% url 'kitchen:ingredient-update' ingredient.id %}">UPDATE</a>
          </td>
          <td>
            <a href="{% url 'kitchen:ingredient-delete' ingredient.id %}">DELETE</a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no ingredients</p>
  {% endif %}
  {% endblock %}
